[Unit]
Description=Run face detection service
After=mosquitto.service

[Service]
ExecStart=${PROJECT_ROOT}/face-detection/run.sh
WorkingDirectory=${PROJECT_ROOT}/face-detection
Type=simple

[Install]
WantedBy=multi-user.target
