[Unit]
Description=Run face detection service
After=mosquitto.service

[Service]
ExecStart=${PROJECT_ROOT}/voice-engine/run.sh
WorkingDirectory=${PROJECT_ROOT}/voice-engine

Type=simple

[Install]
WantedBy=multi-user.target
